<div class="row">
  <app-header></app-header>
</div>

 <h2 class="text">Answer Details</h2>
    <div class="panel-body">

    <button (click)="addanswer()" class="btn btn-primary"><span class="glyphicon glyphicon-plus" arial-hidden="true"></span></button>
    </div>
  <table class="table">
    <thead>
      <tr>
    
      <th>Answer_desc</th>
      <th>Answer_date</th>
      <th>Answer_time</th>
      <th>Flag</th>
      <th>View</th>
      <th>fk_que_id</th>
      <th>fk_u_email_id</th>
      <th>Edit</th>
      <th>Delete</th> 
      <tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of allAnswer">
     
      <td>{{item.ans_desc}}</td>
      <td>{{item.ans_date}}</td>
      <td>{{item.ans_time}}</td>
      <td>{{item.flag}}</td>
      <td>{{item.view}}</td>
      <td>{{item.fk_que_id}}</td>
      <td>{{item.fk_u_email_id}}</td>
    

      <td><button (click)="updateanswer(item)"  class="btn btn-success"><span class="glyphicon glyphicon-pencil" arial-hidden="true"></span></button></td>
      <td><button (click)="deleteanswer(item)"  class="btn btn-danger"><span class="glyphicon glyphicon-trash" arial-hidden="true"></span></button></td>
    </tr>
    </tbody>
  </table>
