<div>
<app-header></app-header>
</div>

<div class="container">


 <div class="panel panel-primary">
<div class="panel-heading"><h2 class="text">Add Group</h2></div>

<div class="panel-body">
    <form (ngSubmit)="addgroup()">


     <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Group Date</span>
        <input type="string"  name="grp_date" [(ngModel)]="grp_date" class="form-control" placeholder="Enter Group_Date" aria-describedby="basic-addon1" required>
    </div>

       
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Subject Name</span>
        
        <select class="form-control" id="fk_sub_id" [(ngModel)]="fk_sub_id" name="fk_sub_id"required >
        <option *ngFor="let s of allSubject" [value]="s.sub_id">{{s.sub_name}}</option>
        </select>
    </div>


  

     <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Email Id</span>
        <input type="string"  name="fk_u_email_id" [(ngModel)]="fk_u_email_id" class="form-control" placeholder="Enter Email_Id" aria-describedby="basic-addon1" required>
    </div>

    <button type="submit" class="btn btn-primary" style="margin-top: 10px">Add </button>
    </form>
</div>
 </div>

</div>

