<app-header></app-header>

<div class="container">

        <div class="panel-heading" *ngIf="course_id==0" >Add Course</div>
  <div class="panel-heading" *ngIf="course_id!=0" >Edit Course</div>

    <form (ngSubmit)="addcourse()">

     <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Course Name</span>
        <input type="string"  name="course_name" [(ngModel)]="course_name" class="form-control" placeholder="Enter Course_Name" aria-describedby="basic-addon1" required>
    </div>

    <button type="submit" class="btn btn-primary" style="margin-top: 10px">Save </button>
    </form>

</div>
