<div class="row">
<app-header></app-header>
</div>

<div class="container-fluid">



    <form *ngIf="que_id==0"(ngSubmit)="addquestion()">
        <div class="panel panel-primary dd">
   
<div class="panel-heading" style="background-color: #489fdf"><h2 class="text">Add Question</h2></div>

  <div class="panel-body">

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Title</span>
        <input type="text" name="que_title" [(ngModel)]="que_title" class="form-control" placeholder="Enter Title" aria-describedby="basic-addon1" required> 
    </div>
    <br/>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Description</span>
        <input type="text" name="que_desc" [(ngModel)]="que_desc" class="form-control" placeholder="Enter Description" aria-describedby="basic-addon1" required>
    </div>
    <br/>
    
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Photo</span>
        <input type="text" name="que_photo" [(ngModel)]="que_photo" class="form-control" placeholder="Enter the image" aria-describedby="basic-addon1" required>
    </div>
    <br/>
    
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Email Id</span>
        <input type="text" name="fk_u_email_id" [(ngModel)]="fk_u_email_id" class="form-control" placeholder="Enter user Email_id" aria-describedby="basic-addon1" required>
    </div>
    <br/>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Subject Name</span>
        
        <select class="form-control" id="fk_sub_id" [(ngModel)]="fk_sub_id" name="fk_sub_id"required >
        <option *ngFor="let s of allSubject" [value]="s.sub_id">{{s.sub_name}}</option>
        </select>
    </div>
    <br/>
    <button type="submit" style=" background-color: #489fdf" class="btn btn-primary addbtn" >Add Question</button>

    </div>
    </div>
    </form>


    

    <form *ngIf="que_id!=0"(ngSubmit)="updatequestion()">    
<div class="panel panel-success dd">
   
<div class="panel-heading"><h2 style="text-align:center">Edit Question</h2></div>

  <div class="panel-body">
   <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Title</span>
        <input type="text" name="que_title" [(ngModel)]="que_title" class="form-control" placeholder="Enter Title" aria-describedby="basic-addon1" required> 
    </div>
    <br/>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Description</span>
        <input type="text" name="que_desc" [(ngModel)]="que_desc" class="form-control" placeholder="Enter Description" aria-describedby="basic-addon1" required>
    </div>
    <br/>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Photo</span>
        <input type="text" name="que_photo" [(ngModel)]="que_photo" class="form-control" placeholder="Enter the image" aria-describedby="basic-addon1" required>
    </div>
    <br/>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Subject Name</span>
        
        <select class="form-control" id="fk_sub_id" [(ngModel)]="fk_sub_id" name="fk_sub_id"required >
        <option *ngFor="let s of allSubject" [value]="s.sub_id">{{s.sub_name}}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success editbtn">Edit Question</button>
    </div>
  </div>    
    </form>
    
</div>

