<div class="row">
  <app-header></app-header>
</div>


<div id="page-wrapper">

  <!-- Table -->
  <div class="container-fluid">
    <div class="row">

    
    <h2 class="text">Questions Details</h2>
    <div class="panel-body">

       <form action="" class="search-form">
         <div class="form-group has-feedback">
            		<label for="search" class="sr-only">Search</label>
            		<input type="text"  #search (keyup)="0" class="form-control" name="search" id="search" placeholder="search">
              		<span class="glyphicon glyphicon-search form-control-feedback"></span>
        	</div>
        </form>
    <button (click)="deleteAll()" class="btn btn-danger"><span>Delete All</span></button>
    <button (click)="addquestion()" class="btn btn-primary" ><span class="glyphicon glyphicon-plus" arial-hidden="true"></span></button>
   
    </div>

<table class="table">
    <thead>
      <tr>
      <th><input type="checkbox" /></th>
      <th>Title</th>
      <th>Date</th>
      <th>Time</th>
      <th>Photo</th>
      <th>view</th>
      <th>User_Name</th>
      <th>Subject_Name</th>
      <th>Update</th>
      <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of ( allQuestionjoin | questionfilter:search.value | paginate: { itemsPerPage: 2, currentPage: page })">
      <td><input type="checkbox" (change)="checkChange(item)" /></td>

      <td><a (click)="ques(item)">{{item.que_title}}</a></td>

      

  <!--    <td>{{item.que_desc}}</td>-->


     <!-- <td>{{item.que_title}}</td>-->

      <td>{{item.que_date}}</td>
      <td>{{item.que_time}}</td>
      <td><img src="http://localhost:3000{{item.que_photo}}" width="100px" height="100px"/></td>
      <td>{{item.view}}</td>
      <td>{{item.u_name}}</td>
      <td>{{item.sub_name}}</td>

      <td><button (click)="updatequestion(item)" class="btn btn-success"><span class="glyphicon glyphicon-pencil" arial-hidden="true"></span></button></td>
      <td><button (click)="deletequestion(item)" class="btn btn-danger"><span class="glyphicon glyphicon-trash" arial-hidden="true"></span></button></td>
      
    </tr>
    </tbody>
  </table>
   <div class="has-text-centered">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
    </div>
  </div>
  </div>
  