.text
{
    text-align: center;
}

.editbtn
{
        margin-left: 490px;
        margin-top: 10px;
}

.addbtn
{
        margin-left: 490px;
        margin-top: 10px;
}

.dd
{
            margin-top: 20px;
}

dd1
{
            background-color: #489fdf;
}