<div>
<app-header></app-header>
</div>

<div class="container">

    
     <div class="panel panel-primary">
  <div class="panel-heading" *ngIf="sub_id==0" ><h2 class="text">Add Subject Here</h2></div>
  <div class="panel-heading" *ngIf="sub_id!=0" ><h2 class="text">Edit Subject Here</h2></div>

 <div class="panel-body">
    <form (ngSubmit)="addsubject()">

     
     <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Subject Name</span>
        <input type="string"  name="sub_name" [(ngModel)]="sub_name" class="form-control" placeholder="Enter Subject_name" aria-describedby="basic-addon1" required>
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Subject Photo</span>
        <input type="string"  name="sub_photo" [(ngModel)]="sub_photo" class="form-control" placeholder="Enter Subject_photo" aria-describedby="basic-addon1" required>
    </div>

    
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Course Name</span>
        
        <select class="form-control" id="fk_course_id" [(ngModel)]="fk_course_id" name="fk_course_id"required >
        <option *ngFor="let s of allCourse" [value]="s.course_id">{{s.course_name}}</option>
        </select>
    </div>


   <!--  <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">User Name</span>
        
        <select class="form-control" id="fk_u_email_id" [(ngModel)]="fk_u_email_id" name="fk_u_email_id"required >
        <option *ngFor="let s of allUser" [value]="s.u_email_id">{{s.u_name}}</option>
        </select>
    </div>-->



     <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">User Email_id</span>
        <input type="string"  name="fk_u_email_id" [(ngModel)]="fk_u_email_id" class="form-control" placeholder="Enter User Email_ID" aria-describedby="basic-addon1" required/>
    </div>



    <button type="submit" class="btn btn-primary" style="margin-top: 10px">Save </button>
    </form>
 </div>
     </div>
     
    </div>


