<app-header></app-header>

<div class="container">

  <div class="panel-heading" *ngIf="sub_id==0" >Add Subject Here</div>
  <div class="panel-heading" *ngIf="sub_id!=0" >Edit Subject Here</div>


    <form  *ngIf="sub_id==0" (ngSubmit)="addsubject()">

     
     <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Subject Name</span>
        <input type="string"  name="sub_name" [(ngModel)]="sub_name" class="form-control" placeholder="Enter Subject_name" aria-describedby="basic-addon1" required>
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Subject Photo</span>
        <input type="string"  name="sub_photo" [(ngModel)]="sub_photo" class="form-control" placeholder="Enter Subject_photo" aria-describedby="basic-addon1" required>
    </div>

     <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Course Id</span>
        <input type="number"  name="fk_course_id" [(ngModel)]="fk_course_id" class="form-control" placeholder="Enter Course_Id" aria-describedby="basic-addon1" required>
    </div>

     <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Email Id</span>
        <input type="string"  name="fk_u_email_id" [(ngModel)]="fk_u_email_id" class="form-control" placeholder="Enter Email_Id" aria-describedby="basic-addon1" required>
    </div>

    <button type="submit" class="btn btn-primary" style="margin-top: 10px">Save </button>
    </form>

    <form *ngIf="sub_id!=0" (ngSubmit)="addsubject()">


        <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Subject Name</span>
        <input type="string"  name="sub_name" [(ngModel)]="sub_name" class="form-control" placeholder="Enter Subject_name" aria-describedby="basic-addon1" required>
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Subject Photo</span>
        <input type="string"  name="sub_photo" [(ngModel)]="sub_photo" class="form-control" placeholder="Enter Subject_photo" aria-describedby="basic-addon1" required>
    </div>
    
    <button type="submit" class="btn btn-primary" style="margin-top: 10px">Save </button>
    </form>
</div>


