<app-header></app-header>

<div class="container">

    <form (ngSubmit)="adduser()">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Id</span>
        <input type="text"  name="Id" [(ngModel)]="Id" class="form-control" placeholder="Enter Email_id" aria-describedby="basic-addon1" required>
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Name</span>
        <input type="text" name="Name" [(ngModel)]="Name" class="form-control" placeholder="Enter Name" aria-describedby="basic-addon1" required> 
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Password</span>
        <input type="text" name="Password" [(ngModel)]="Password" class="form-control" placeholder="Enter Password" aria-describedby="basic-addon1" required>
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Photo</span>
        <input type="text" name="Photo" [(ngModel)]="Photo" class="form-control" placeholder="Enter the path of Image" aria-describedby="basic-addon1" required>
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Mobile_No</span>
        <input type="text" name="Mobile_No" [(ngModel)]="Mobile_No" class="form-control" placeholder="Enter Mobile_No" aria-describedby="basic-addon1" required>
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Gender</span>
        <input type="text" name="Gender" [(ngModel)]="Gender" class="form-control" placeholder="Enter the Gender" aria-describedby="basic-addon1" required>
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Active</span>
        <input type="text" name="Active" [(ngModel)]="Active" class="form-control" placeholder="Active or Not?" aria-describedby="basic-addon1" required>
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Status</span>
        <input type="text" name="Status" [(ngModel)]="Status" class="form-control" placeholder="On or Off?" aria-describedby="basic-addon1" required>
    </div>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Type</span>
        <input type="text" name="Type" [(ngModel)]="Type" class="form-control" placeholder="Enter your Type" aria-describedby="basic-addon1" required>
    </div>

    <button type="submit" class="btn btn-primary" style="margin-top: 10px">Add User </button>
    </form>

</div>

