<div class="row">
<app-header></app-header>
</div>

<div class="container-fluid">



    <form *ngIf="blog_id==0"(ngSubmit)="addblog()">
        <div class="panel panel-primary dd">
   
<div class="panel-heading" style="background-color: #489fdf"><h2 class="text">Add Blogs</h2></div>

  <div class="panel-body">

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Title</span>
        <input type="text" name="blog_title" [(ngModel)]="blog_title" class="form-control" placeholder="Enter Title" aria-describedby="basic-addon1" required> 
    </div>
    <br/>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Description</span>
        <input type="text" name="blog_desc" [(ngModel)]="blog_desc" class="form-control" placeholder="Enter Description" aria-describedby="basic-addon1" required>
    </div>
    <br/>
    
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Photo</span>
        <input type="text" name="blog_photo" [(ngModel)]="blog_photo" class="form-control" placeholder="Enter the image" aria-describedby="basic-addon1" required>
    </div>
    <br/>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Email_Id</span>
        <input type="text" name="fk_u_email_id" [(ngModel)]="fk_u_email_id" class="form-control" placeholder="Enter user Email_id" aria-describedby="basic-addon1" required>
    </div>
    <br/>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Subject Name</span>
        
        <select class="form-control" id="fk_sub_id" [(ngModel)]="fk_sub_id" name="fk_sub_id"required >
        <option *ngFor="let s of allSubject" [value]="s.sub_id">{{s.sub_name}}</option>
        </select>
    </div>
    <br/>
    <button type="submit" style="    background-color: #489fdf" class="btn btn-primary addbtn" >Add Blog</button>

    </div>
    </div>
    </form>

    <form *ngIf="blog_id!=0"(ngSubmit)="updateblog()">    
<div class="panel panel-success dd">
   
<div class="panel-heading"><h2 style="text-align:center">Edit Blog</h2></div>

  <div class="panel-body">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Title</span>
        <input type="text" name="blog_title" [(ngModel)]="blog_title" class="form-control" placeholder="Enter Title" aria-describedby="basic-addon1" required> 
    </div>
    <br/>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Description</span>
        <input type="text" name="blog_desc" [(ngModel)]="blog_desc" class="form-control" placeholder="Enter Description" aria-describedby="basic-addon1" required>
    </div>
    <br/>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Photo</span>
        <input type="text" name="blog_photo" [(ngModel)]="blog_photo" class="form-control" placeholder="Enter the image" aria-describedby="basic-addon1" required>
    </div>
    <br/>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Subject Name</span>
        
        <select class="form-control" id="fk_sub_id" [(ngModel)]="fk_sub_id" name="fk_sub_id"required >
        <option *ngFor="let s of allSubject" [value]="s.sub_id">{{s.sub_name}}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success editbtn">Edit Blog</button>
    </div>
  </div>    
    </form>
    
</div>